<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}" lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Comixxer - Activity</title>

</head>

<body id="page-top">

    <div layout:fragment="content" id="content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4"><h3 class="text-center">Comments</h3>
            <ul class="media-list scrollable-y scrollbar scrollbar-primary mh-smaller unindent-ul" id="commentsList">
              <li class="media my-4 mr-1" id="comment1">
                <a href="userprofile.html" class="float-left">
                  <img src="https://bootdey.com/img/Content/user_1.jpg" alt="", class="rounded-circle">
                  </a>
                <div class="media=body">
                  <a class="no-a" href="viewcomic.html#comment1">
                  <div class="text-muted float-right">
                    <div class="text-muted text-sm">30 min ago</div>
                  </div>
                  <div class="text-secondary font-weight-bold">@Giraffeman3705</div>
                  <div class="text-info font-weight-bold ml-3">Comic Name Goes Here</div>
                  <small class="ml-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor sit amet,
                  </small>
                  </a>
                </div>
              </li>
              <li class="media my-4 mr-1" id="comment1">
                <a href="userprofile.html" class="float-left">
                  <img src="https://bootdey.com/img/Content/user_1.jpg" alt="", class="rounded-circle">
                  </a>
                <div class="media=body">
                  <a class="no-a" href="viewcomic.html#comment1">
                  <div class="text-muted float-right">
                    <div class="text-muted text-sm">30 min ago</div>
                  </div>
                  <div class="text-secondary font-weight-bold">@JigglyPuff</div>
                  <div class="text-info font-weight-bold ml-3">Comic Name Goes Here</div>
                  <small class="ml-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor sit amet,
                  </small>
                  </a>
                </div>
              </li>
              <li class="media my-4 mr-1" id="comment1">
                <a href="userprofile.html" class="float-left">
                  <img src="https://bootdey.com/img/Content/user_1.jpg" alt="", class="rounded-circle">
                  </a>
                <div class="media=body">
                  <a class="no-a" href="viewcomic.html#comment1">
                  <div class="text-muted float-right">
                    <div class="text-muted text-sm">30 min ago</div>
                  </div>
                  <div class="text-secondary font-weight-bold">@Squirtle</div>
                  <div class="text-info font-weight-bold ml-3">Comic Name Goes Here</div>
                  <small class="ml-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor sit amet,
                  </small>
                  </a>
                </div>
              </li>
              <li class="media my-4 mr-1" id="comment1">
                <a href="userprofile.html" class="float-left">
                  <img src="https://bootdey.com/img/Content/user_1.jpg" alt="", class="rounded-circle">
                  </a>
                <div class="media=body">
                  <a class="no-a" href="viewcomic.html#comment1">
                  <div class="text-muted float-right">
                    <div class="text-muted text-sm">30 min ago</div>
                  </div>
                  <div class="text-secondary font-weight-bold">@Charzard</div>
                  <div class="text-info font-weight-bold ml-3">Comic Name Goes Here</div>
                  <small class="ml-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor sit amet,
                  </small>
                  </a>
                </div>
              </li>
              <li class="media my-4 mr-1" id="comment1">
                <a href="userprofile.html" class="float-left">
                  <img src="https://bootdey.com/img/Content/user_1.jpg" alt="", class="rounded-circle">
                  </a>
                <div class="media=body">
                  <a class="no-a" href="viewcomic.html#comment1">
                  <div class="text-muted float-right">
                    <div class="text-muted text-sm">30 min ago</div>
                  </div>
                  <div class="text-secondary font-weight-bold">@Shwafta</div>
                  <div class="text-info font-weight-bold ml-3">Comic Name Goes Here</div>
                  <small class="ml-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor sit amet,
                  </small>
                  </a>
                </div>
              </li>
              <li class="media my-4 mr-1" id="comment1">
                <a href="userprofile.html" class="float-left">
                  <img src="https://bootdey.com/img/Content/user_1.jpg" alt="", class="rounded-circle">
                  </a>
                <div class="media=body">
                  <a class="no-a" href="viewcomic.html#comment1">
                  <div class="text-muted float-right">
                    <div class="text-muted text-sm">30 min ago</div>
                  </div>
                  <div class="text-secondary font-weight-bold">@PFodor</div>
                  <div class="text-info font-weight-bold ml-3">Comic Name Goes Here</div>
                  <small class="ml-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor sit amet,
                  </small>
                  </a>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-lg-4 no-padding-l">
            <h3 class="text-center">Likes</h3>
            <ul class="media-list scrollable-y scrollbar scrollbar-primary mh-smaller unindent-ul" id="commentsList">
              <li class="media my-4 mr-1" id="comment1">
                <a href="userprofile.html" class="float-left">
                  <img src="https://bootdey.com/img/Content/user_1.jpg" alt="", class="rounded-circle">
                  </a>
                <div class="media=body">
                  <a class="no-a" href="viewcomic.html">
                  <div class="text-muted float-right">
                    <div class="text-muted text-sm">30 min ago</div>
                  </div>
                  <div class="text-secondary font-weight-bold">@Giraffeman3705</div>
                  <div class="text-info font-weight-bold mb-1 ml-3">Comic Name Goes Here</div>
                  <img class="img-fluid ml-2" src="img/portfolio/comic.png"></img>
                  </a>
                </div>
              </li>
              <li class="media my-4 mr-1" id="comment1">
                <a href="userprofile.html" class="float-left">
                  <img src="https://bootdey.com/img/Content/user_1.jpg" alt="", class="rounded-circle">
                  </a>
                <div class="media=body">
                  <a class="no-a" href="viewcomic.html">
                  <div class="text-muted float-right">
                    <div class="text-muted text-sm">30 min ago</div>
                  </div>
                  <div class="text-secondary font-weight-bold">@Giraffeman3705</div>
                  <div class="text-info font-weight-bold mb-1 ml-3">Comic Name Goes Here</div>
                  <img class="img-fluid ml-2" src="img/portfolio/comic.png"></img>
                  </a>
                </div>
              </li>
              <li class="media my-4 mr-1" id="comment1">
                <a href="userprofile.html" class="float-left">
                  <img src="https://bootdey.com/img/Content/user_1.jpg" alt="", class="rounded-circle">
                  </a>
                <div class="media=body">
                  <a class="no-a" href="viewcomic.html">
                  <div class="text-muted float-right">
                    <div class="text-muted text-sm">30 min ago</div>
                  </div>
                  <div class="text-secondary font-weight-bold">@Giraffeman3705</div>
                  <div class="text-info font-weight-bold mb-1 ml-3">Comic Name Goes Here</div>
                  <img class="img-fluid ml-2" src="img/portfolio/comic.png"></img>
                  </a>
                </div>
              </li>
              <li class="media my-4 mr-1" id="comment1">
                <a href="userprofile.html" class="float-left">
                  <img src="https://bootdey.com/img/Content/user_1.jpg" alt="", class="rounded-circle">
                  </a>
                <div class="media=body">
                  <a class="no-a" href="viewcomic.html">
                  <div class="text-muted float-right">
                    <div class="text-muted text-sm">30 min ago</div>
                  </div>
                  <div class="text-secondary font-weight-bold">@Giraffeman3705</div>
                  <div class="text-info font-weight-bold mb-1 ml-3">Comic Name Goes Here</div>
                  <img class="img-fluid ml-2" src="img/portfolio/comic.png"></img>
                  </a>
                </div>
              </li>
              <li class="media my-4 mr-1" id="comment1">
                <a href="userprofile.html" class="float-left">
                  <img src="https://bootdey.com/img/Content/user_1.jpg" alt="", class="rounded-circle">
                  </a>
                <div class="media=body">
                  <a class="no-a" href="viewcomic.html">
                  <div class="text-muted float-right">
                    <div class="text-muted text-sm">30 min ago</div>
                  </div>
                  <div class="text-secondary font-weight-bold">@Giraffeman3705</div>
                  <div class="text-info font-weight-bold mb-1 ml-3">Comic Name Goes Here</div>
                  <img class="img-fluid ml-2" src="img/portfolio/comic.png"></img>
                  </a>
                </div>
              </li>
              <li class="media my-4 mr-1" id="comment1">
                <a href="userprofile.html" class="float-left">
                  <img src="https://bootdey.com/img/Content/user_1.jpg" alt="", class="rounded-circle">
                  </a>
                <div class="media=body">
                  <a class="no-a" href="viewcomic.html">
                  <div class="text-muted float-right">
                    <div class="text-muted text-sm">30 min ago</div>
                  </div>
                  <div class="text-secondary font-weight-bold">@Giraffeman3705</div>
                  <div class="text-info font-weight-bold mb-1 ml-3">Comic Name Goes Here</div>
                  <img class="img-fluid ml-2" src="img/portfolio/comic.png"></img>
                  </a>
                </div>
              </li>
              <li class="media my-4 mr-1" id="comment1">
                <a href="userprofile.html" class="float-left">
                  <img src="https://bootdey.com/img/Content/user_1.jpg" alt="", class="rounded-circle">
                  </a>
                <div class="media=body">
                  <a class="no-a" href="viewcomic.html">
                  <div class="text-muted float-right">
                    <div class="text-muted text-sm">30 min ago</div>
                  </div>
                  <div class="text-secondary font-weight-bold">@Giraffeman3705</div>
                  <div class="text-info font-weight-bold mb-1 ml-3">Comic Name Goes Here</div>
                  <img class="img-fluid ml-2" src="img/portfolio/comic.png"></img>
                  </a>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-lg-4 no-padding-l">
            <h3 class="text-center">Remixes</h3>
            <ul class="media-list scrollable-y scrollbar scrollbar-primary mh-smaller unindent-ul" id="commentsList">
              <li th:each="remix : ${remixes}" class="media my-4 mr-1">
                <a th:href="@{/user/userProfile/__${remix.getUserId()}__}" class="float-left">
                  <img th:src="${remix.getComicParentProfPic()}" alt="", class="rounded-circle">
                </a>
                <div class="media=body">
                  <a class="no-a" th:href="@{/user/comic/viewComic/__${remix.get_id()}__}">
                    <div class="text-muted float-right">
                      <div class="text-muted text-sm" th:text="${remix.timeToString()}"></div>
                    </div>
                    <div class="text-secondary font-weight-bold"th:text="${remix.getAuthor()}"></div>
                    <div class="text-info font-weight-bold mb-1 ml-3" th:text="${remix.getTitle()}"></div>
                    <img class="img-fluid ml-2" th:src="${remix.getThumbnail()}"/>
                  </a>
                </div>
              </li>
            </ul>
          </div>

        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-wrapper -->

</body>

</html>
