<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}" lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Comixxer - My Curations</title>

</head>

<body id="page-top">

    <div layout:fragment="content" id="content-wrapper">
      <div class="container-fluid">
        <h1 class="text-center mb-4">Curations</h1>
        <div class="row scrollable-y scrollbar scrollbar-primary mh-smaller">
          <div th:each="curation : ${curationList}" class="col-3">
            <div class="card bg-info d-inline-block mb-4 mx-1" style="width:14rem">
              <a class="card-underline no-a" href="viewCuration.html">
                <img class="card-img-top" src="img/portfolio/game.png" alt="Card!">
                <div class="card-body h-25 p-2">
                  <h6 class="card-text text-center" th:text="${curation.getTitle()}">
                  </h6>
                </div>
              </a>
              <div class="row">
                <div class="col-3 mt-1 pr-0 text-center"><i class="fas fa-globe"></i></div>
                <div class="col-2 mt-1 px-0 text-center"><i class="fas fa-columns"></i></div>
<!--                <div class="col-3 text-left mt-1 pr-0"><small th:text="${curation.getComics.length}"></small></div>-->
                <div class="col-4 btn-group dropright text-left">
                  <button class="btn btn-info text-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bars"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="editcuration.html">Edit</a>
                    <a class="dropdown-item" href="#">Remove</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- /.content-wrapper -->

  <!-- /#wrapper -->

</body>

</html>
