<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Comixxer</title>



  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/v4-shims.css">


  <!-- Custom styles for this template -->
  <link type="text/css" href="css/freelancer.min.css" rel="stylesheet">
  <link type="text/css" href="css/mytheme.min.css" rel="stylesheet">
  <script src="https://use.fontawesome.com/a2deeff422.js"></script>

</head>

<body id="page-top">
  <div>

  <!-- Header -->
  <header class="masthead text-white text-center">
    <div class="container">
      <img class="img-fluid mb-5 d-block mx-auto" src="img/logos/logo.jpg" alt="">
      <div class="container w-50">
        <div th:if="${param.error}" class="alert alert-danger">
          Invalid email and password.
        </div>
        <form class="form-signin" th:action="@{/login}" method="post">
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required="" />
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="" />
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
        <a class="btn btn-lg btn-secondary btn-block" th:href="@{/signup}">Sign Up</a>
      </div>
    </div>
  </header>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  <!-- Custom fonts for this template-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.compatibility.min.js"></script>
  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin.min.js"></script>
  </div>

</body>

</html>
