<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}" lang="en"><head>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Comixxer - Browse</title>
</head>

<body id="page-top">
    <div layout:fragment="content" id="content-wrapper no-scroll">
      <div class="container-fluid">
        <div class="container">
          <div class="row">
            <div class="col-9 w-bio">
              <h5 class="text-left my-4">My Creations</h5>
              <div class="row scrollable-x no-fw scrollbar scrollbar-primary">
                <div th:each="creation : ${myCreations}" class="col-3">
                  <div class="card bg-info d-inline-block mb-4 mx-1" style="max-width:14rem">
                    <a class="card-underline no-a" th:href="@{comic/viewComic/__${creation.get_id()}__}">
                      <img class="card-img-top" th:src="${creation.getThumbnail()}" alt="Card!">
                      <div class="card-body h-25 p-2">
                        <h6 class="card-text text-center" th:value="${comic/creation.getTitle()}">
                          <a class="no-a" href="currentComicRemixes.html">
                            <span th:if="${creation.isInSeries()}" class="badge badge-secondary" data-toggle="tooltip" data-placement="right" title="Series"><i class="fas fa-random"></i></span>
                          </a>
                        </h6>
                      </div>
                      <div class="row">
                        <div class="col-sm-4 text-right"><i class="fas fa-chevron-up"></i></div>
                        <div class="col-sm-4 text-center"><i class="fas fa-comment-dots"></i></div>
                        <div class="col-sm-4 text-left"><i class="fas fa-random"></i></div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4 text-right pr-0" th:value="${creation.getTotalVotes()}"><small>101,000</small></div>
                        <div class="col-sm-4 text-center px-0" th:value="${creation.getTotalComments()}"><small>101,000</small></div>
                        <div class="col-sm-4 text-left pl-0" th:value="${creation.getTotalRemixes()}"><small>230,000</small></div>
                      </div>
                    </a>
                    <div class="row">
                      <div class="col-3 mt-1 pr-0 text-center"><i class="fas fa-globe"></i></div>
                      <div class="col btn-group dropright">
                        <button class="btn btn-info text-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-bars"></i>
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" th:href="@{comic/editComic/__${creation.get_id()}__}">Edit</a>
                          <a class="dropdown-item" th:href="@{comic/removeComic/__${creation.get_id()}__}">Remove</a>
                          <a class="dropdown-item" href="#">Add To Curation</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="divider mt-4"></div>
              <h5 class="text-left mb-4">Drafts</h5>
              <div class="row scrollable-x no-fw scrollbar scrollbar-primary">
                <div th:each="draft : ${myDrafts}" class="col-3">
                  <div class="card bg-info d-inline-block mb-4 mx-1" style="max-width:14rem">
                    <a class="card-underline no-a" th:href="@{comic/editComic/__${draft.get_id()}__}">
                      <img class="card-img-top" th:src="@{draft.getThumbnail()}" alt="Card!">
                      <div class="card-body h-25 p-2">
                        <h6 class="card-text text-center" th:text="draft.getTitle()">
                        </h6>
                      </div>
                    </a>
                    <div class="row">
                      <div class="col btn-group dropright">
                        <button class="btn btn-info text-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-bars"></i>
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" th:href="@{comic/removeDraft/__${draft.get_id()}__}">Remove</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <div class="col-3">
              <div class="container scrollbar-y scrollbar scrollbar-primary h-bio">
                <div class="bg-info rounded h-100 p-3 mx-auto">
                  <h3 class="text-center mb-4" th:text="${userName}"></h3>
                  <div class="text-center mb-1">
                    <img src="https://bootdey.com/img/Content/user_1.jpg" alt="", class="rounded-circle">
                  </div>
                    <div class="my-2">
                      <span>Subscribers: </span>
                      <a class="no-a text-secondary" th:href="@{user/getSubscribers}" th:text="${subscribers}"></a>
                    </div>
                    <div class="my-2">
                      <span>Subscribed to: </span>
                      <a class="no-a text-secondary" th:href="@{user/getSubscribedTo}" th:text="${subscribedTo}"></a>
                    </div>
                    <div class="my-2">
                      <span>Comics: </span>
                      <a class="no-a text-secondary" th:href="@{user/myComics}" th:text="${myCreations.size()}"></a>
                    </div>
                    <div class="my-2">
                      <span>Remixes: </span>
                      <a class="no-a text-secondary" th:href="@{user/myRemixes}" th:text="${numRemixes}"></a>
                    </div>
                    <p class="mt-2" th:text="${userBio}">
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- /.content-wrapper -->
</body>

</html>
