<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}" lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Comixxer - Browse</title>
</head>

<body id="page-top">
<div layout:fragment="content" id="content-wrapper">
    <span id="current-user" th:text="${currentUser.getFullname()}" hidden></span>
    <div class="container-fluid">
        <h1 class="text-center mb-4" th:text="${category}"></h1>
        <div class="container">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-general-tab" data-toggle="pill" href="#pills-comics"
                       role="tab">Comics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-genre-tab" data-toggle="pill" href="#pills-users" role="tab">Users</a>
                </li>
            </ul>
            <div class="divider mb-2"></div>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-comics" role="tabpanel">
                    <div class="row scrollable-y scrollbar scrollbar-primary mh-smaller">
                        <div th:each="comic : ${comics}" class="col-3">
                            <div class="card bg-info d-inline-block mb-4 mx-1">
                                <a class="card-underline no-a" th:href="@{/user/comic/viewComic/__${comic.get_id()}__}">
                                    <img class="card-img-top thumbnail-image" th:src="${comic.getThumbnail()}" alt="Card!">
                                    <div class="card-body h-25 p-2">
                                        <h6 class="card-text text-center">
                                            <span th:text="${comic.getTitle()}"></span>
                                            <a th:if="${comic.isRemix()}" class="no-a"
                                               th:href="@{/user/viewRemixes/__${comic.getParent().toHexString()}__}">
                                        <span class="badge badge-secondary" data-toggle="tooltip" data-placement="right"
                                              title="Remix"><i class="fas fa-random"></i></span>
                                            </a>
                                            <a th:if="${comic.isInSeries()}" class="no-a"
                                               th:href="@{/user/series/__${comic.getParentSeriesId().toHexString()}__}">
                                        <span class="badge badge-secondary" data-toggle="tooltip" data-placement="right"
                                              title="Series"><i class="fas fa-book"></i></span>
                                            </a>
                                        </h6>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 text-right"><i class="fas fa-chevron-up"></i></div>
                                        <div class="col-sm-4 text-center"><i class="fas fa-comment-dots"></i></div>
                                        <div class="col-sm-4 text-left"><i class="fas fa-random"></i></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 text-right">
                                            <small th:text="${comic.getTotalVotes()}"></small>
                                        </div>
                                        <div class="col-sm-4 text-center">
                                            <small th:text="${comic.getTotalComments()}"></small>
                                        </div>
                                        <div class="col-sm-4 text-left">
                                            <small th:text="${comic.getTotalComments()}"></small>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="pills-users" role="tabpanel">
                    <div class="row scrollable-y scrollbar scrollbar-primary mh-smaller">
                        <div th:each="user : ${users}" class="col-3">

                            <div class="card bg-info text-center d-inline-block mb-4 mx-1 p-2" style="width:9rem">
                                <a class="card-underline no-a" th:href="@{/user/userProfile/__${user.get_id()}__}">
                                    <img class="card-img-top profile-pic rounded-circle" th:src="${user.getPic()}"
                                         alt="Card!">
                                    <div class="card-body h-25 p-2">
                                        <h6 class="card-text text-center" th:text="${user.getFullname()}">
                                        </h6>
                                        <i class="fas fa-users">
                                            <h6 class="card-text text-center" th:text="${user.getNumOfSubscibers()}">
                                            </h6>
                                        </i>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-->
    </div>
    <!-- /.container-fluid -->

</div>
<!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
</a>

</body>

</html>
