<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}" lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
</head>

<body id="page-top">

    <div layout:fragment="content" id="content-wrapper">
      <div class="container-fluid">
        <h1 class="text-center mb-1" th:text="${series.getTitle()}"></h1>
        <a class="no-a" th:href="@{/user/userProfile/__${author.get_id().toHexString()}__}">
          <h4 class="text-center mb-4" th:text="${author.getFullname()}"></h4>
        </a>
        <div class="container">
          <div class="row">
            <div class="col-9 scrollable-y scrollbar scrollbar-primary mh-smaller">
              <div class="row">

                <div th:each="comic : ${comics}" class="col-3">
                  <div class="card bg-info d-inline-block mb-4 mx-1" style="width:13rem">
                    <a class="card-underline no-a" th:href="@{/user/comic/viewComic/__${comic.get_id()}__}">
                      <img class="card-img-top" th:src="@{__${comic.getThumbnail()}__}" alt="Card!">
                      <div class="card-body h-25 p-2">
                        <h6 class="card-text text-center" th:text="${comic.getTitle()}">
                        </h6>
                      </div>
                      <div class="row">
                        <div class="col-sm-4 text-right"><i class="fas fa-chevron-up"></i></div>
                        <div class="col-sm-4 text-center"><i class="fas fa-comment-dots"></i></div>
                        <div class="col-sm-4 text-left"><i class="fas fa-random"></i></div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4 text-right"><small th:text="${comic.getTotalVotes()}"></small></div>
                        <div class="col-sm-4 text-center"><small th:text="${comic.getTotalComments()}"></small></div>
                        <div class="col-sm-4 text-left"><small th:text="${comic.getTotalComments()}"></small></div>
                      </div>
                    </a>
                  </div>

                </div>

              </div>
            </div>
            <div class="col-3">
              <div class="container h-100 bg-info rounded text-center">
                <img th:if="${series.getThumbnail() != ''}" class="rounded-circle profile-pic my-1" th:src="${series.getThumbnail()}"/>
                <div class="text-center py-2 bio-wrap" th:text="${series.getSynopsis()}">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-->
      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- /.content-wrapper -->

</body>

</html>
