.divider {
  height: 0;
  margin: .5rem 0;
  overflow: hidden;
  border-top:1px solid #2e3439;
}

.nav-pills .nav-item .nav-link{
  color:white;
}

.nav-pills .nav-item .nav-link.active{
  background-color:inherit;
  color:white;
  font-weight: bold;
  border-bottom: 2px solid yellow;
}

.card-underline{
  text-decoration: none !important;
  color:white;
}

.card-underline:hover{
  opacity: .8;
}

.card-underline:hover .card-body{
  color:white;
  background-color: #575656;
}

.scrollable-y{
  overflow-y: auto;
}

.scrollable-x{
  overflow-x: auto;
  overflow-y: hidden;
}

.no-fw{
  flex-wrap:nowrap;
}

.scrollbar {
float: left;
}

.scrollbar-primary::-webkit-scrollbar {
width: 12px;
border-radius:10px;}

.scrollbar-primary::-webkit-scrollbar-thumb {
border-radius: 10px;
background-color: #575656; }

.h-100{
  height:100%;
}
